<h1> Process </h1>

<h5>Argumentos: </h5>

<p>_:{{this.informacion.args._}}</p>
<p>p:{{this.informacion.args.p}}</p>
<p>port:{{this.informacion.args.port}}</p>

<h5>Nombre de plataforma: {{this.informacion.sistema}}</h5>
<h5>Version de node.js: {{this.informacion.nodeVersion}}</h5>
<h5>Memoria total reservada (rss): {{this.informacion.memory}}</h5>
<h5>Path: {{this.informacion.path}}</h5>
<h5>Process id: {{this.informacion.processId}}</h5>
<h5>Carpeta del proyecto: {{this.informacion.file}}</h5>
<h5>Numero de cpus: {{this.informacion.numeroCpu}}</h5>